<?php   

$property = $model->order->manager->properties->first();
$order = $model->order;
?>

<div class="callout fade in callout-success">
    <div class="content">
       
        <ul>
            <li>Propiedad: <strong><?php echo($property["name"]); ?> </strong></li>
            <li>Codigo: <strong><?php echo($order["order_number"]); ?> </strong></li>
        </ul>
    </div>
</div>